Repository csc-324-sga-assisting-tool/csc-324-sga-assisting-tool: changes, and which Codecov flags are due for each by the changed paths.
All: Front-End, Back-End

codecov.yml:

codecov:
  branch: main # set new Default branch

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: fe  # this is an identifier that should not be changed
      name: Front-End  # this is a display name, and can be changed freely
      paths:
        - src/app
    - component_id: be  # this is an identifier that should not be changed
      name: Back-End  # this is a display name, and can be changed freely
      paths:
        - src/lib

coverage:
  status:
    project:
      default: # This can be anything, but it needs to exist as the name
        # basic settings
        # advanced settings
        branches: 
          - main
        if_ci_failed: error #success, failure, error, ignore
        only_pulls: true
        removed_code_behavior: off #removals_only, fully_covered_patch, adjust_base",

ignore:
  - "*config.ts" #ignore config files in code coverage
  - "*config.tsx" #ignore config files in code coverage
  - "*types.ts" #ignore config files in code coverage

Made Dashboard Sidebar modular so that the SGA treasurer and RSO can share a dashboard with slightly different sidebars
  src/app/dashboard/dashboard.tsx
  src/app/dashboard/sidebar.tsx
  src/lib/data/data_types.ts
Due: Front-End, Back-End

Added event organizer to Budget cards on SGA treasurer dashboard page
  src/app/dashboard/budget.tsx
  src/app/dashboard/dashboard.tsx
Due: Front-End

Removed add button from sga dashboard and made sga dashboard load all events and not just events from current user
  src/app/dashboard/dashboard.tsx
  src/lib/data/data_loader.ts
Due: Front-End, Back-End

SignUp, LogIn, LogOut done
  package-lock.json
  package.json
  src/app/auth.tsx
  src/app/createAcc.tsx
  src/app/dal.tsx
  src/app/dashboard/page.tsx
  src/app/logIn.tsx
  src/app/navbarComp.tsx
  src/app/session.tsx
  src/lib/data/data_loader.ts
Due: Front-End, Back-End

lint and pull from main (lint error The 'TextEncoder' is not supported until Node.js 11.0.0. The configured version range is '>=8.0.0')
  src/app/auth.tsx
  src/app/createAcc.tsx
  src/app/logIn.tsx
  src/app/navbarComp.tsx
  src/app/session.tsx
Due: Front-End

Added tests
  src/app/dashboard/budget.tsx
  src/lib/data/data_types.ts
  test/app/dashboard.test.tsx
Due: Front-End, Back-End

Added sga treasurer test
  test/app/dashboard.test.tsx
Due: none

suggested changes for dashboard
  src/app/dashboard/actions.ts
  src/app/dashboard/create_budget_form.tsx
  src/app/dashboard/dashboard.tsx
  src/app/dashboard/page.tsx
  src/app/dashboard/sgaDashboard.tsx
  src/app/dashboard/sidebar.tsx
  src/lib/data/data_loader.ts
  src/lib/data/data_types.ts
  src/lib/data/utils.ts
  test/app/dashboard.test.tsx
  test/app/sgaDashboard.test.tsx
  test/lib/data/getbudget.firebase.test.ts
  test/lib/data/getuser.firebase.test.ts
Due: Front-End, Back-End

something in data_loader
  src/lib/data/data_loader.ts
Due: Back-End

change items and finish test for getItemsForBudget
  src/lib/data/data_loader.ts
  src/lib/data/data_types.ts
  test/lib/data/items_loader.firebase.test.ts
Due: Back-End

Fixed create user
  package-lock.json
  package.json
  src/app/auth.tsx
  src/app/createAcc.tsx
  src/app/dal.tsx
  src/app/dashboard/page.tsx
  src/app/logIn.tsx
  src/lib/data/data_loader.ts
Due: Front-End, Back-End

deleted comments
  src/app/auth.tsx
  src/app/createAcc.tsx
  src/app/logIn.tsx
  src/lib/data/data_loader.ts
  src/lib/data/data_types.ts
Due: Front-End, Back-End

Ran npm install
  package-lock.json
Due: none

Refactored a few components in rso and sga dashboards. Made Database.getDocument/s return the id along with the document so that ID field is not undefined
  src/app/dashboard/budget.tsx
  src/app/dashboard/create_budget_form.tsx
  src/app/dashboard/dashboard.tsx
  src/app/dashboard/page.tsx
  src/app/dashboard/sgaDashboard.tsx
  src/app/dashboard/sidebar.tsx
  src/lib/data/database.firebase.ts
  test/app/dashboard.test.tsx
  test/app/sgaDashboard.test.tsx
Due: Front-End, Back-End

I ran npm install jsdom
  package-lock.json
  package.json
Due: none

Fixed budget card
  src/app/dashboard/budget.tsx
Due: Front-End

Replaced .toBeInTheDocument() with .toBeTruthy() in front-end tests in attempt to resolve the error: "Received value must be an HTMLElement or an SVGElement"
  test/app/dashboard.test.tsx
  test/app/sgaDashboard.test.tsx
Due: none

Edited tests and added test-ids to front-end components were needed
  src/app/dashboard/budget.tsx
  src/app/dashboard/sidebar.tsx
  test/app/dashboard.test.tsx
  test/app/sgaDashboard.test.tsx
Due: Front-End

implment budget view page
  src/app/budget/[budget_id]/actions.ts
  src/app/budget/[budget_id]/addItemForm.tsx
  src/app/budget/[budget_id]/budgetview.tsx
  src/app/budget/[budget_id]/editBudgetForm.tsx
  src/app/budget/[budget_id]/itemDisplay.tsx
  src/app/budget/[budget_id]/page.tsx
  src/app/budget/[budget_id]/sidebar.tsx
  src/app/dashboard/actions.ts
  src/app/dashboard/budget.tsx
  src/app/dashboard/dashboard.tsx
  src/app/dashboard/page.tsx
  src/lib/data/data_types.ts
  src/lib/util/date.ts
  src/lib/util/id.ts
  src/lib/util/index.ts
  test/app/dashboard.test.tsx
Due: Front-End, Back-End

add addItems and work on tests
  src/lib/data/data_loader.ts
  test/lib/data/items_loader.firebase.test.ts
Due: Back-End

revert datepickers and fix tests
  src/app/budget/[budget_id]/addItemForm.tsx
  src/app/budget/[budget_id]/budgetview.tsx
  src/app/budget/[budget_id]/editBudgetForm.tsx
  src/app/dashboard/create_budget_form.tsx
  test/app/dashboard.test.tsx
  test/lib/data/getbudget.firebase.test.ts
Due: Front-End

revalidate correction
  src/app/auth.tsx
Due: Front-End

implement submit budgets
  src/app/budget/[budget_id]/actions.ts
  src/app/budget/[budget_id]/editBudgetForm.tsx
  src/app/budget/[budget_id]/sidebar.tsx
  src/lib/data/data_types.ts
Due: Front-End, Back-End

fix dashboard tests
  src/app/dashboard/budget.tsx
  src/app/dashboard/dashboard.tsx
  src/app/dashboard/page.tsx
  src/app/dashboard/sgaDashboard.tsx
  src/app/dashboard/sidebar.tsx
  src/lib/firebase/config.ts
  test/app/dashboard.test.tsx
  test/app/sgaDashboard.test.tsx
Due: Front-End, Back-End

disable new item button for submitted budgets
  src/app/budget/[budget_id]/budgetview.tsx
Due: Front-End

fix build
  src/app/session.tsx
Due: Front-End

Big commit to add my stuff to simon's code and fix my tests
  src/app/budget/[budget_id]/actions.ts
  src/app/budget/[budget_id]/addItemForm.tsx
  src/app/budget/[budget_id]/budgetview.tsx
  src/lib/data/data_loader.ts
  src/lib/data/data_types.ts
  test/lib/data/items_loader.firebase.test.ts
Due: Front-End, Back-End

remove unnecessary code that I forgot
  src/app/budget/[budget_id]/budgetview.tsx
Due: Front-End

changed user_name to name
  src/app/auth.tsx
  src/lib/data/data_types.ts
Due: Front-End, Back-End

fixed revalidate
  src/app/dal.tsx
  src/app/dashboard/page.tsx
Due: Front-End

Removed duplicate reference to Budget in budget.tsx
  src/app/dashboard/budget.tsx
Due: Front-End

Fixed error with BudgetDisplay list in budget.tsx
  src/app/dashboard/budget.tsx
Due: Front-End

Updated addBudget function and added testing file
  firebase-debug 2.log
  firebase-debug 3.log
  git
  package-lock.json
  src/lib/data/data_loader.ts
  test/lib/data/addBudget.firebase.test.ts
Due: Back-End

Added back Link to BudgetDisplay so that clicking on it redirects to budget page
  src/app/dashboard/budget.tsx
Due: Front-End
