Repository csc-324-sga-assisting-tool/csc-324-sga-assisting-tool: changes, and which Codecov flags are due for each by the changed paths.
All: Front-End, Back-End

fix jsdom package to avoid errors
  package-lock.json
  package.json
Due: none

handle errors in auth and fix bugs
  src/app/auth.tsx
  src/app/budget/[budget_id]/actions.ts
  src/app/createAcc.tsx
  src/app/dashboard/actions.ts
  src/app/logIn.tsx
  src/app/page.tsx
  src/lib/data/data_loader.ts
  src/lib/util/id.ts
Due: Front-End, Back-End

Edited some of test lines based on Elliot's comments
  test/lib/data/addBudget.firebase.test.ts
Due: none

Added edit icon to ItemRow
  src/app/budget/[budget_id]/itemDisplay.tsx
  src/app/dashboard/budget.tsx
Due: Front-End

Delete firebase-debug 2.log
  firebase-debug 2.log
Due: none

Delete package-lock.json
  package-lock.json
Due: none

Delete git
  git
Due: none

Delete firebase-debug 3.log
  firebase-debug 3.log
Due: none

Refactored BudgetViewSidebar to be more modular to allow more flexibility in creating SGA vs RSO versions of sidebars
  src/app/budget/[budget_id]/budgetview.tsx
  src/app/budget/[budget_id]/page.tsx
  src/app/budget/[budget_id]/sidebar.tsx
Due: Front-End

Added SGA Sidebar and SGA Budget View page
  src/app/budget/[budget_id]/page.tsx
  src/app/budget/[budget_id]/sgaBudgetView.tsx
  src/app/budget/[budget_id]/sidebar.tsx
Due: Front-End

Updated addBudget function and added testing file
  firebase-debug 2.log
  firebase-debug 3.log
  git
  src/lib/data/data_loader.ts
  test/lib/data/addBudget.firebase.test.ts
Due: Back-End

Added comment types and re-organized data_types.ts and data_loader.ts
  src/lib/data/data_loader.ts
  src/lib/data/data_types.ts
Due: Back-End

Added comment-related fields when budgets and item are created
  src/app/budget/[budget_id]/actions.ts
  src/app/budget/[budget_id]/sidebar.tsx
  src/app/dashboard/actions.ts
Due: Front-End

Added methods to DataModel to interact with comments.
  src/lib/data/data_loader.ts
  src/lib/data/data_types.ts
  src/lib/firebase/config.ts
Due: Back-End

Added submitBudget to DataModel and included pushing comments to submision mechanics
  src/app/budget/[budget_id]/actions.ts
  src/app/budget/[budget_id]/sidebar.tsx
  src/lib/data/data_loader.ts
Due: Front-End, Back-End

Updated tests to use new data structures with comments
  src/app/budget/[budget_id]/actions.ts
  test/lib/data/addBudget.firebase.test.ts
  test/lib/data/getbudget.firebase.test.ts
  test/lib/data/items_loader.firebase.test.ts
Due: Front-End

Updated addBudget function and added testing file
  firebase-debug 2.log
  firebase-debug 3.log
  git
Due: none

Added comment types and re-organized data_types.ts and data_loader.ts
  src/lib/data/data_loader.ts
Due: Back-End

Added initial tests for comment backend
  test/lib/data/comments.firebase.test.ts
Due: none

add auth emulator
  .gitignore
  firebase.json
  package.json
  test/utils/database.util.ts
Due: none

Fixed merge conflict marker that was left over
  src/lib/data/data_loader.ts
Due: Back-End

Added more tests for item comments
  src/lib/data/data_loader.ts
  test/lib/data/comments.firebase.test.ts
Due: Back-End

creade AuthModel Interface
  src/app/auth.tsx
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/app/loading/page.tsx
  src/lib/data/auth_model.firebase.ts
  src/lib/data/auth_model.ts
  src/lib/data/data_loader.ts
Due: Front-End, Back-End

Working on statusChnage, not done yet
  src/lib/data/data_loader.ts
  test/lib/data/changestatus.ts
Due: Back-End

Item comments working
  test/lib/data/getbudget.firebase.test.ts
Due: none

Changed Commentable.comment to Commentable.commentID and .prev_comments to .prev_commentIDs
  src/app/budget/[budget_id]/actions.ts
  src/app/dashboard/actions.ts
  src/lib/data/data_loader.ts
  src/lib/data/data_types.ts
  test/lib/data/addBudget.firebase.test.ts
  test/lib/data/comments.firebase.test.ts
  test/lib/data/getbudget.firebase.test.ts
  test/lib/data/items_loader.firebase.test.ts
Due: Front-End, Back-End

Fixed errors caused by prev commit
  test/lib/data/addBudget.firebase.test.ts
  test/lib/data/getbudget.firebase.test.ts
Due: none

test for create user sign in and sign out also getsignedin user
  src/app/dashboard/page.tsx
  src/lib/data/auth_model.firebase.ts
  src/lib/firebase/config.ts
  test/lib/data/auth_model.firebase.test.ts
  test/utils/database.util.ts
Due: Front-End, Back-End

Added budget comment tests
  src/lib/data/data_loader.ts
  src/lib/data/data_types.ts
  test/lib/data/comments.firebase.test.ts
Due: Back-End

Finished tests for comments
  src/lib/data/data_loader.ts
  test/lib/data/comments.firebase.test.ts
Due: Back-End

Adding approve deny tools actions
  src/app/budget/[budget_id]/actions.ts
  src/app/budget/[budget_id]/sgaBudgetView.tsx
  src/app/budget/[budget_id]/sidebar.tsx
Due: Front-End

add budget view tests and adjust some other things
  src/app/budget/[budget_id]/addItemForm.tsx
  src/app/budget/[budget_id]/sidebar.tsx
  test/app/budgetview.test.tsx
  test/utils/database.local.ts
Due: Front-End

add submit button test
  src/app/budget/[budget_id]/sidebar.tsx
  test/app/budgetview.test.tsx
Due: Front-End

Added change status functions and test
  src/lib/data/data_loader.ts
  src/lib/data/data_types.ts
  test/lib/data/changestatus.test.ts
  test/lib/data/changestatus.ts
Due: Back-End

Working on review actions
  src/app/budget/[budget_id]/actions.ts
  src/app/budget/[budget_id]/sgaBudgetView.tsx
  src/app/budget/[budget_id]/sidebar.tsx
  src/lib/data/data_loader.ts
Due: Front-End, Back-End

Created a controller for review buttons
  src/app/budget/[budget_id]/actions.ts
  src/app/budget/[budget_id]/review_actions.ts
  src/app/budget/[budget_id]/sgaBudgetView.tsx
  src/app/budget/[budget_id]/sidebar.tsx
Due: Front-End

Path conditions:
  Front-End: any of: src/app, but not: *config.ts, *config.tsx, *types.ts
  Back-End: any of: src/lib, but not: *config.ts, *config.tsx, *types.ts
