Repository csc-324-sga-assisting-tool/csc-324-sga-assisting-tool: changes, and which Codecov flags are due for each by the changed paths.
All: Front-End, Back-End

Created UI to allow SGA to write comment and deny item
  src/app/budget/[budget_id]/eventComments.tsx
  src/app/budget/[budget_id]/page.tsx
  src/app/budget/[budget_id]/review_actions.ts
  src/app/budget/[budget_id]/sgaBudgetView.tsx
  src/app/budget/[budget_id]/sidebar.tsx
  src/lib/data/data_loader.ts
  src/lib/data/utils.ts
Due: Front-End, Back-End

Changed based on Diogo's comment
  src/app/budget/[budget_id]/actions.ts
  test/lib/data/changestatus.test.ts
Due: Front-End

Changed based on Diogo's comment
  src/app/budget/[budget_id]/addItemForm.tsx
Due: Front-End

Added "constructors" for each data type
  src/app/dashboard/actions.ts
  src/lib/data/data_types.ts
  src/lib/data/index.ts
  src/lib/data/utils.ts
  test/app/budgetview.test.tsx
Due: Front-End, Back-End

Changed errors
  src/app/budget/[budget_id]/addItemForm.tsx
  test/app/budgetview.test.tsx
Due: Front-End

Renamed comments test so that failing comments doesn't prevent further work on submitting review
  test/lib/data/comments.firebase.old.ts
Due: none

Took DataModel.chagneBudgetStatus from Hiiro's branch and made approve and deny buttons work
  src/app/budget/[budget_id]/review_actions.ts
  src/app/budget/[budget_id]/sidebar.tsx
  src/lib/data/data_loader.ts
Due: Front-End, Back-End

Approve and Deny budget are working. Tests are not written
  src/app/budget/[budget_id]/actions.ts
  src/app/budget/[budget_id]/eventComments.tsx
  src/app/budget/[budget_id]/review_actions.ts
  src/app/budget/[budget_id]/sgaBudgetView.tsx
  src/lib/data/data_loader.ts
Due: Front-End, Back-End

Added deny button to item row
  src/app/budget/[budget_id]/budgetview.tsx
  src/app/budget/[budget_id]/itemDisplay.tsx
  src/app/budget/[budget_id]/itemRowActions.ts
  src/app/budget/[budget_id]/sgaBudgetView.tsx
Due: Front-End

Toggle item status
  src/app/budget/[budget_id]/itemDisplay.tsx
  src/app/budget/[budget_id]/itemRowActions.ts
  src/app/budget/[budget_id]/sgaBudgetView.tsx
Due: Front-End

Fixed errors
  src/app/budget/[budget_id]/budgetview.tsx
  src/app/budget/[budget_id]/itemDisplay.tsx
  src/app/budget/[budget_id]/sgaBudgetView.tsx
  src/lib/data/utils.ts
  test/lib/data/comments.firebase.old.ts
Due: Front-End, Back-End

Only SGA can approve/deny items. RSO can see status, but also on pending budgets, not just denied
  src/app/budget/[budget_id]/budgetview.tsx
  src/app/budget/[budget_id]/itemDisplay.tsx
  src/app/budget/[budget_id]/itemRowActions.ts
  src/app/budget/[budget_id]/sgaBudgetView.tsx
Due: Front-End

Prevent RSO from seeing what items are denied until SGA submits denial
  src/app/budget/[budget_id]/budgetview.tsx
  src/app/budget/[budget_id]/itemDisplay.tsx
  src/app/budget/[budget_id]/sgaBudgetView.tsx
Due: Front-End

Dissable Approve Budget button when items are denied
  src/app/budget/[budget_id]/itemDisplay.tsx
  src/app/budget/[budget_id]/sgaBudgetView.tsx
  src/app/budget/[budget_id]/sidebar.tsx
Due: Front-End

Fixing tests with missing await. Adding clearCollection to tests. Made types not accept undefined fields because firebase doesn't support that.
  src/lib/data/utils.ts
  test/lib/data/getuser.firebase.test.ts
  test/lib/data/items_loader.firebase.test.ts
Due: Back-End

Make types not accept undefiend fields because firebase doesn't support that (forgot to add in the last commit :)
  src/lib/data/data_types.ts
Due: Back-End

User type is infered from email now and is tested
  src/app/auth.tsx
  src/app/dashboard/page.tsx
  src/app/signUp.tsx
  src/lib/data/auth_model.firebase.ts
  test/app/auth.test.tsx
Due: Front-End, Back-End

ensure failed type exception is caught
  src/app/auth.tsx
  test/app/auth.test.tsx
Due: Front-End

fix auth to work correctly; improve tests
  src/app/dashboard/page.tsx
  src/app/logIn.tsx
  src/lib/data/auth_model.firebase.ts
  src/lib/data/data_loader.ts
  test/lib/data/auth_model.firebase.test.ts
  test/lib/data/items_loader.firebase.test.ts
  test/utils/database.util.ts
Due: Front-End, Back-End

Fix backend tests to add missing awaits and clearDatabase and to use util procedure to create data types
  src/lib/data/utils.ts
  test/lib/data/addBudget.firebase.test.ts
  test/lib/data/changestatus.test.ts
  test/lib/data/comments.firebase.old.ts
  test/lib/data/database.firebase.test.ts
  test/lib/data/database.local.test.ts
  test/lib/data/getbudget.firebase.test.ts
  test/lib/data/getuser.firebase.test.ts
  test/lib/data/items_loader.firebase.test.ts
Due: Back-End

Added test for RSO budget view to see item status
  src/app/budget/[budget_id]/itemDisplay.tsx
  test/app/budgetview.test.tsx
Due: Front-End

fix tests and minor refactors
  src/app/auth.tsx
  src/app/dashboard/page.tsx
  src/app/logIn.tsx
  src/app/signUp.tsx
  src/lib/data/auth_model.firebase.ts
  src/lib/data/data_loader.ts
  src/lib/firebase/cookies.ts
  test/app/auth.test.tsx
  test/lib/auth/authmodel.local.test.ts
  test/lib/data/addBudget.firebase.test.ts
  test/lib/data/getbudget.firebase.test.ts
  test/lib/data/items_loader.firebase.test.ts
  test/utils/authmodel.local.ts
  test/utils/database.util.ts
  test/utils/defaults.ts
Due: Front-End, Back-End

switch tests to localdb to avoid emulator bugginess
  test/lib/auth/authmodel.local.test.ts
  test/lib/data/addBudget.firebase.test.ts
  test/lib/data/changestatus.test.ts
  test/lib/data/getbudget.firebase.test.ts
  test/lib/data/items_loader.firebase.test.ts
  test/utils/defaults.ts
Due: none

Added test for sga budget view
  src/app/budget/[budget_id]/itemDisplay.tsx
  src/app/budget/[budget_id]/itemRowActions.ts
  src/app/budget/[budget_id]/sidebar.tsx
  test/app/sgabudgetview.test.tsx
  test/lib/data/database.firebase.test.ts
Due: Front-End

Added tests for sgaBudgetView. Removed comments from sgaBudgetView
  src/app/budget/[budget_id]/actions.ts
  src/app/budget/[budget_id]/sgaBudgetView.tsx
  src/lib/data/utils.ts
  test/lib/data/comments.firebase.old.ts
Due: Front-End, Back-End

Removed firebase-debug files that were being tracked. Fixed tests
  firebase-debug 2.log
  firebase-debug 3.log
  test/lib/data/items_loader.firebase.test.ts
Due: none

Fixed authentication for budget page
  src/app/budget/[budget_id]/page.tsx
Due: Front-End

Remove random empty 'git' file
  git
Due: none

Uncommented sgaBudgetView tests
  src/app/budget/[budget_id]/review_actions.ts
  test/app/sgabudgetview.test.tsx
Due: Front-End

duplicate budget and delete budget front-end code
  src/app/dashboard/actions.ts
  src/app/dashboard/budget.tsx
  src/app/dashboard/duplicate.ts
  src/lib/data/data_loader.ts
  test/app/dashboard.test.tsx
  test/lib/data/duplicatebudget.firebase.test.ts
Due: Front-End, Back-End

fixed navbar and login center
  src/app/dashboard/page.tsx
  src/app/dashboard/sidebar.tsx
  src/app/help/page.tsx
  src/app/layout.tsx
  src/app/logIn.tsx
  src/app/navbarComp.tsx
  src/app/page.tsx
  tailwind.config.ts
Due: Front-End

budget view page and budget list
  src/app/budget/[budget_id]/budgetview.tsx
  src/app/budget/[budget_id]/page.tsx
  src/app/dashboard/dashboard.tsx
Due: Front-End

padding and button color
  src/app/budget/[budget_id]/addItemForm.tsx
  src/app/logIn.tsx
  src/app/signUp.tsx
Due: Front-End

fix the bug for duplicate budgets
  src/app/dashboard/actions.ts
  src/app/dashboard/budget.tsx
  src/app/dashboard/dashboard.tsx
  test/app/dashboard.test.tsx
Due: Front-End

fixed SGA budget view page and dashboard
  src/app/budget/[budget_id]/sgaBudgetView.tsx
  src/app/budget/[budget_id]/sidebar.tsx
  src/app/dashboard/sgaDashboard.tsx
Due: Front-End

Updated readme
  README.md
Due: none

Updated readme (testing CI)
  README.md
Due: none

Removed test-script.sh
  test-script.sh
Due: none

Path conditions:
  Front-End: any of: src/app, but not: *config.ts, *config.tsx, *types.ts
  Back-End: any of: src/lib, but not: *config.ts, *config.tsx, *types.ts
